# Mengatur registry untuk package dengan scope @sacred-octagon ke GitHub Packages
@KsatriaGaberDevelopment:registry=https://npm.pkg.github.com

# Menggunakan token dari environment variable untuk otentikasi
//npm.pkg.github.com/:_authToken=${GH_TOKEN}
